<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Feastival Showdown</title>
    <script src="https://kit.fontawesome.com/d8a0d4d15a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="browser-notice">
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Google_Chrome_icon_%28September_2014%29.svg" alt="Chrome logo" />
    <span class="notice-text">Tested for Chrome</span>
    </div>

    {{{body}}}

</body>
</html>