<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feastival Showdown</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Feastival Showdown DB</h1>
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/attendees">Attendees</a></li>
            <li><a href="/ticket-sales">Ticket Sales</a></li>
            <li><a href="/competitors">Competitors</a></li>
            <li><a href="/teams">Teams</a></li>
            <li class="active"><a href="/competitor-registrations">Competitor Registrations</a></li>
            <li><a href="/dishes">Dishes</a></li>
            <li><a href="/ratings">Ratings</a></li>
            <li><a href="/event-years">Event Years</a></li>
        </ul>
    </div>
    <br>
    <h3>Browse Competitor Registrations</h3>
    <div>
        <table>
            <thead>
                <tr>
                    <th><a href="new-competitor-registration.html">New</a></th>
                    <th>Competitor</th>
                    <th>Team</th>
                    <th>Year</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a onclick="editCompReg('id')" href="edit-competitor-registration.html">Edit</a></td>
                    <td>Thomas Miller</td>
                    <td>Bread Heads</td>
                    <td>2022</td>
                    <td><button onclick="deleteCompReg('id')">Delete</button></td>
                </tr>
                <tr>
                    <td><a onclick="editCompReg('id')" href="edit-competitor-registration.html">Edit</a></td>
                    <td>Bob Nelson</td>
                    <td>Bread Heads</td>
                    <td>2022</td>
                    <td><button onclick="deleteCompReg('id')">Delete</button></td>
                </tr>
                <tr>
                    <td><a onclick="editCompReg('id')" href="edit-competitor-registration.html">Edit</a></td>
                    <td>Ronnie Kay</td>
                    <td>Culinary Connoisseurs</td>
                    <td>2022</td>
                    <td><button onclick="deleteCompReg('id')">Delete</button></td>
                </tr>
                <tr>
                    <td><a onclick="editCompReg('id')" href="edit-competitor-registration.html">Edit</a></td>
                    <td>Vincent Smith</td>
                    <td>Culinary Connoisseurs</td>
                    <td>2022</td>
                    <td><button onclick="deleteCompReg('id')">Delete</button></td>
                </tr>
                <tr>
                    <td><a onclick="editCompReg('id')" href="edit-competitor-registration.html">Edit</a></td>
                    <td>Hui Taylor</td>
                    <td>Flavor Fusion</td>
                    <td>2022</td>
                    <td><button onclick="deleteCompReg('id')">Delete</button></td>
                </tr>
                <tr>
                    <td><a onclick="editCompReg('id')" href="edit-competitor-registration.html">Edit</a></td>
                    <td>Ronald Fillmore</td>
                    <td>Flavor Fusion</td>
                    <td>2022</td>
                    <td><button onclick="deleteCompReg('id')">Delete</button></td>
                </tr>
                <tr>
                    <td><a onclick="editCompReg('id')" href="edit-competitor-registration.html">Edit</a></td>
                    <td>Bob Nelson</td>
                    <td>Bread Heads</td>
                    <td>2023</td>
                    <td><button onclick="deleteCompReg('id')">Delete</button></td>
                </tr>
                <tr>
                    <td><a onclick="editCompReg('id')" href="edit-competitor-registration.html">Edit</a></td>
                    <td>Allen Salcedo</td>
                    <td>Bread Heads</td>
                    <td>2023</td>
                    <td><button onclick="deleteCompReg('id')">Delete</button></td>
                </tr>
                <tr>
                    <td><a onclick="editCompReg('id')" href="edit-competitor-registration.html">Edit</a></td>
                    <td>Isabella Wang</td>
                    <td>Culinary Connoisseurs</td>
                    <td>2023</td>
                    <td><button onclick="deleteCompReg('id')">Delete</button></td>
                </tr>
                <tr>
                    <td><a onclick="editCompReg('id')" href="edit-competitor-registration.html">Edit</a></td>
                    <td>Ronnie Kay</td>
                    <td>Culinary Connoisseurs</td>
                    <td>2023</td>
                    <td><button onclick="deleteCompReg('id')">Delete</button></td>
                </tr>
                <tr>
                    <td><a onclick="editCompReg('id')" href="edit-competitor-registration.html">Edit</a></td>
                    <td>Hui Taylor</td>
                    <td>Flavor Fusion</td>
                    <td>2023</td>
                    <td><button onclick="deleteCompReg('id')">Delete</button></td>
                </tr>
                <tr>
                    <td><a onclick="editCompReg('id')" href="edit-competitor-registration.html">Edit</a></td>
                    <td>Carmen Cevallos</td>
                    <td>Flavor Fusion</td>
                    <td>2023</td>
                    <td><button onclick="deleteCompReg('id')">Delete</button></td>
                </tr>
                <tr>
                    <td><a onclick="editCompReg('id')" href="edit-competitor-registration.html">Edit</a></td>
                    <td>Ylva Ahmad</td>
                    <td>Tasty Titans</td>
                    <td>2023</td>
                    <td><button onclick="deleteCompReg('id')">Delete</button></td>
                </tr>
                <tr>
                    <td><a onclick="editCompReg('id')" href="edit-competitor-registration.html">Edit</a></td>
                    <td>Thomas Miller</td>
                    <td>Tasty Titans</td>
                    <td>2023</td>
                    <td><button onclick="deleteCompReg('id')">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>