<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feastival Showdown</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Feastival Showdown DB</h1>
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/attendees" class="active">Attendees</a></li>
            <li><a href="/ticket-sales">Ticket Sales</a></li>
            <li><a href="/competitors">Competitors</a></li>
            <li><a href="/teams">Teams</a></li>
            <li><a href="/competitor-registrations">Competitor Registrations</a></li>
            <li><a href="/dishes">Dishes</a></li>
            <li><a href="/ratings">Ratings</a></li>
            <li class="active"><a href="/event-years">Event Years</a></li>
        </ul>
    </div>
    <br>
    <h3>Browse Event Years</h3>
    <div>
        <table>
            <thead>
                <tr>
                    <th><a href="new-event-year.html">New</a></th>
                    <th>Year</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a onclick="editYear('id')" href="edit-event-year.html">Edit</a></td>
                    <td>2022</td>
                    <td><button onclick="deleteYear('id')">Delete</button></td>
                </tr>
                <tr>
                    <td><a onclick="editYear('id')" href="edit-event-year.html">Edit</a></td>
                    <td>2023</td>
                    <td><button onclick="deleteYear('id')">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>