<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feastival Showdown</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <span>
        <h1>Feastival Showdown DB</h1>
        <button></button>
    </span>
    <div class="navbar">
        <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/attendees">Attendees</a></li>
            <li><a href="/tickets">Tickets</a></li>
            <li><a href="/ticket-types">Ticket Types</a></li>
            <li><a href="/discounts">Discounts</a></li>
            <li><a href="/ticket-sales">Ticket Sales</a></li>
            <li><a href="/competitors">Competitors</a></li>
            <li><a href="/teams">Teams</a></li>
            <li><a href="/competitor-registrations">Competitor Registrations</a></li>
            <li><a href="/dishes">Dishes</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/ratings">Ratings</a></li>
            <li><a href="/event-years">Event Years</a></li>
        </ul>
    </div>
    <br>
    <div class="overview">
        <p></p>
    </div>
    <div class="descriptions">
        <h2>Page Descriptions and Operations</h2>
        <p><b>ATTENDEES - </b>Operations on attendees for the festival: <b>browse</b>, <b>insert</b>, <b>edit</b>, <b>delete</b>.</p>
        <p><b>TICKETS - </b>Operations on the tickets available for purchase: <b>browse</b>, <b>insert</b>, <b>edit</b>, <b>delete</b>.</p>
        <p><b>TICKET TYPES - </b>Operations on the types of tickets for the event: <b>browse</b>, <b>insert</b>, <b>edit</b>, <b>delete</b>.</p>
        <p><b>DISCOUNTS - </b>Operations on discounts available for use in ticket sales: <b>browse</b>, <b>insert</b>, <b>edit</b>, <b>delete</b>.</p>
        <p><b>TICKET SALES - </b>Operations on ticket sale events: <b>browse</b>, <b>insert</b>, <b>edit</b>, <b>delete</b>.</p>
        <p><b>COMPETITORS - </b>Operations on people competing in the festival: <b>browse</b>, <b>insert</b>, <b>edit</b>, <b>delete</b>.</p>
        <p><b>TEAMS - </b>Operations on teams participating in the festival: <b>browse</b>, <b>insert</b>, <b>edit</b>, <b>delete</b>.</p>
        <p><b>COMPETITOR REGISTRATIONS - </b>Operations on competitor registration events: <b>browse</b>, <b>insert</b>, <b>edit</b>, <b>delete</b>.</p>
        <p><b>DISHES - </b>Operations on dishes prepared for the festival: <b>browse</b>, <b>insert</b>, <b>edit</b>, <b>delete</b>.</p>
        <p><b>COURSES - </b>Operations on courses dishes will be prepared for: <b>browse</b>, <b>insert</b>, <b>edit</b>, <b>delete</b>.</p>
        <p><b>RATINGS - </b>Operations on dish rating events by attendees: <b>browse</b>, <b>insert</b>, <b>edit</b>, <b>delete</b>.</p>
        <p><b>EVENT YEARS - </b>Operations for years the festival has been held: <b>browse</b>, <b>insert</b>, <b>edit</b>, <b>delete</b>.</p>
    </div>
</body>
</html>