<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feastival Showdown</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Feastival Showdown DB</h1>
    <div class="navbar">
        <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/attendees">Attendees</a></li>
            <li><a href="/ticket-sales">Ticket Sales</a></li>
            <li><a href="/competitors">Competitors</a></li>
            <li><a href="/teams">Teams</a></li>
            <li><a href="/competitor-registrations">Competitor Registrations</a></li>
            <li><a href="/dishes">Dishes</a></li>
            <li><a href="/ratings">Ratings</a></li>
            <li><a href="/event-years">Event Years</a></li>
        </ul>
    </div>
    <br>
    <div class="overview">
        <p></p>
    </div>
    <div class="descriptions">
        <h3>Attendees</h3>
        <ul>
            <li>Operations on attendees for the festival:</li>
            <ul>
                <li>Browse</li>
                <li>Edit</li>
                <li>Add New</li>
                <li>Delete</li>
            </ul>
        </ul>
        <h3>Ticket Sales</h3>
        <ul>
            <li>Operations on ticket sale events:</li>
            <ul>
                <li>Browse</li>
                <li>Edit</li>
                <li>Add New</li>
                <li>Delete</li>
            </ul>
            <li>Operations on ticket types for sale:</li>
            <ul>
                <li>Browse</li>
                <li>Edit</li>
            </ul>
        </ul>
        <h3>Competitors</h3>
        <ul>
            <li>Operations on people competing in the festival:</li>
            <ul>
                <li>Browse</li>
                <li>Edit</li>
                <li>Add New</li>
                <li>Delete</li>
            </ul>
        </ul>
        <h3>Teams</h3>
        <ul>
            <li>Operations on teams participating in the festival:</li>
            <ul>
                <li>Browse</li>
                <li>Edit</li>
                <li>Add New</li>
                <li>Delete</li>
            </ul>
        </ul>
        <h3>Competitor Registrations</h3>
        <ul>
            <li>Operations on competitor registration events:</li>
            <ul>
                <li>Browse</li>
                <li>Edit</li>
                <li>Add New</li>
                <li>Delete</li>
            </ul>
        </ul>
        <h3>Dishes</h3>
        <ul>
            <li>Operations on dishes prepared for the festival:</li>
            <ul>
                <li>Browse</li>
                <li>Edit</li>
                <li>Add New</li>
                <li>Delete</li>
            </ul>
            <li>Operations on courses dishes will be prepared for:</li>
            <ul>
                <li>Browse</li>
            </ul>
        </ul>
        <h3>Ratings</h3>
        <ul>
            <li>Operations on dish rating events by attendees:</li>
            <ul>
                <li>Browse</li>
                <li>Edit</li>
                <li>Add New</li>
                <li>Delete</li>
            </ul>
        </ul>
        <h3>Event Years</h3>
        <ul>
            <li>Operations for years the festival has been held:</li>
            <ul>
                <li>Browse</li>
                <li>Edit</li>
                <li>Add New</li>
                <li>Delete</li>
            </ul>
        </ul>
    </div>
</body>
</html>