<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feastival Showdown</title>
    <script type="text/javascript" src="/js/new-attendee.js"></script>
</head>
<body>
    <div class="navbar-container">
    <h1>Feastival Showdown DB</h1>
    <div class="navbar">
        <ul>
            <li class="reload"><a href="/db/reload-db"><i class="fa-solid fa-repeat"></i></a></li>
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/attendees">Attendees</a></li>
            <li><a href="/tickets">Tickets</a></li>
            <li><a href="/ticket-types">Ticket Types</a></li>
            <li><a href="/discounts">Discounts</a></li>
            <li><a href="/ticket-sales">Ticket Sales</a></li>
            <li><a href="/competitors">Competitors</a></li>
            <li><a href="/teams">Teams</a></li>
            <li><a href="/competitor-registrations">Competitor Registrations</a></li>
            <li><a href="/dishes">Dishes</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/ratings">Ratings</a></li>
            <li><a href="/event-years">Event Years</a></li>
        </ul>
    </div>
    </div>
    
    <div class="main-content">
    <h3>Add Attendee:</h3>
    <form id="new-attendee-form-ajax">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" maxlength="100" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" maxlength="255" required>

        <label for="phone">Phone:</label>
        <input type="tel" id="phone" name="phone" required>

        <button type="submit">Add Attendee</button>
    </form>
    </div>
</body>
</html>