<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feastival Showdown</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Feastival Showdown DB</h1>
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/attendees">Attendees</a></li>
            <li><a href="/tickets">Tickets</a></li>
            <li class="active"><a href="/ticket-types">Ticket Types</a></li>
            <li><a href="/discounts">Discounts</a></li>
            <li><a href="/ticket-sales">Ticket Sales</a></li>
            <li><a href="/competitors">Competitors</a></li>
            <li><a href="/teams">Teams</a></li>
            <li><a href="/competitor-registrations">Competitor Registrations</a></li>
            <li><a href="/dishes">Dishes</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/ratings">Ratings</a></li>
            <li><a href="/event-years">Event Years</a></li>
        </ul>
    </div>
    <br>
    <h3>Browse Ticket Types</h3>
    <div>
        <table>
            <thead>
                <tr>
                    <th><a href="/new-ticket-type" class="floating-button">New</a></th>
                    <th>Ticket Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each ticketType}}
                <tr>
                    <td><a onclick="editTicketType({{this.ID}})" href="/edit-ticket-type">Edit</a></td>
                    <td>{{this.Ticket}}</td>
                    <td><button onclick="deleteTicketType({{this.ID}})">Delete</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>
</html>