/*
    Citation for elements of the following class: 'popup'
    Date: 12/08/2023
    Adapted from youtube video
    A lot of the CSS from the video used and adapted to our
    particular use case including colors, some changes to shape,
    size and positioning, changes to the transformations.
    Image not used, instead custom headers for success or failure
    implemented. These are inspired by the next source.
    Source URL: https://www.youtube.com/watch?v=AF6vGYIyV8M
*/
/*
    Citation for elements following similar specificity declarations to
    those in the website: (towards end of CSS)
    Date: 12/08/2023
    Adapted from MDN
    The basis of the input validation CSS pseudoclasses was learned here
    and the basic example utilizing the checks and x's was used and built
    upon. There are many more specific declarations with custom strings
    built for the forms in our project.
    Source URL: https://developer.mozilla.org/en-US/docs/Web/CSS/:valid
*/
/*
    Citation for table CSS
    Date: 12/01/2023
    Adapted from Dom(dcode) on dev.to
    Utilized general table structure and bottom border. Header has been modified.
    Hovers are implemented instead of 'active' rows, button has been implemented
    for adding new entries. Delete/edit buttons were implemented in table rows. Color
    scheme is different. Several properties like size and shadow modified to liking.
    Padding and such has been modified at this point.
    Source URL: https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l
*/

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

* {
    margin: 0;
    padding: 0;
 }

 /* simulate a bell ring motion */
 @keyframes bellRing {
    0%, 100% { transform: rotate(-15deg); }
    50% { transform: rotate(15deg); }
}


body {
    background-color: #c7c7c7;
    font-family: sans-serif;
    color: #333333;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

h1 {
    padding: 0;
    margin: 0;
    /*font-family: 'Satisfy', sans-serif;*/
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    color: white;
}

h2, h3 {
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
}

h4 {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
}

.home-page h1{
    padding: 0;
    margin: 0;
    /*font-family: 'Satisfy', sans-serif;*/
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    color: black;
}

.title-logo {
    position:absolute;
    font-size: 30px;
    padding-top: 35px;
    margin-left: 5px;
    height: 50px;
    width: 300px;
    visibility: hidden;
}
.navbar-container:hover .title-logo {
    visibility:visible;
}

.inner-logo {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    color: white;
}
.navbar-container:hover .inner-logo {
    color: #003142;
}

.main-content {
    margin-top: 100px;
    padding-bottom: 50px;
    line-height: 50px;
    height: 80%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    width: 100%;
    background-color: #c7c7c7;
}

.home-page {
    padding-top: 50px;
    padding-left: 200px;
    padding-bottom: 100px;
}


.ratings {
    width: 1500px;
}
  
div.navbar-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: start;
    top: 0;
    padding-bottom: 20px;
    background: hsl(0 0% 100% / 0.5);
    box-shadow: 
      0 2px 0 0 hsl(0 0% 100% / 0.5) inset,
      0 2px 0 0 hsl(0 0% 25% / 0.5);
    backdrop-filter: blur(10px);
    background-color: #383838;
    position: fixed;
    left: 0;
    width: 65px;
    height: 100%;    
}

div.navbar {
    margin-top: 25px;
    padding-top: 20px;
    padding-left: 5px;
    padding-bottom: 10px;
    width: 60px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    transition: width 0.3s ease;
    background-color: #003142;
    overflow: hidden;
}

div.navbar-container:hover .navbar {
    width: 350px; 
}

.navbar-container:hover + .main-content,
.navbar-container:hover + .home-page  {
    filter: blur(4px);
    translate: 360px;
    transition: filter 0.2s ease; /* Smooth transition */
}


div.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-wrap: nowrap;
    align-items: flex-start;
    
}
  
div.navbar li {
    transition: background-color 0.2s ease, transform 0.4s ease, filter 0.3s ease; 
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
  
div.navbar li a {
    display: block;
    color: white;
    text-align: left;
    padding: 10px 0;
    padding-left: 10px;
    text-decoration: none;
}

li {
    transition: all 0.5s ease;
}

  
div.navbar li:hover {
    background-color: #79b1c6; 
    transform: translateX(30px); 
    z-index: 10;
}

/* level 1 */
div.navbar li:hover + li,
div.navbar li:has(+ li:hover) {
    /*background-color: #437C90;*/
    background-color: #527d92;
    transform:  translateX(20px); 
    z-index: 5;
}

/* level 2 */
div.navbar li:hover + li + li,
div.navbar li:has(+ li + li:hover) {
    background-color: #2c5161;
    transform:  translateX(10px); 
    z-index: 5;
}

/* First item above main */
div.navbar li:hover + li {
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* First item below main */
div.navbar li:has(+ li:hover) {
    box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.2);
}

/* Second item above main */
div.navbar li:hover + li + li {
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1), /* Inner shadow */
               0 5px 10px rgba(0, 0, 0, 0.2); /* Outer shadow */
}

/* Second item below main */
div.navbar li:has(+ li + li:hover) {
    box-shadow: inset 0 -3px 6px rgba(0, 0, 0, 0.1), /* Inner shadow */
               0 5px 10px rgba(0, 0, 0, 0.2); /* Outer shadow */
}

.active {

    background-color: #79b1c6; 
    color: #fff;
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);*/ 
    z-index: 1;
   width: 45px;
   border-radius: 25px;
}

.navbar:hover li.active {
    width: 400px;
   
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 10px #333333;
    border-radius: 14px;
}

table tr:last-child th:last-child {
    border-top-right-radius: 14px;
}

table tr:last-child th:first-child {
    border-top-left-radius: 14px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 14px;
}
table tr:last-child td:last-child {
    border-bottom-right-radius: 14px;
}

.dishes-table {
    width: 1300px;
    margin-left: 70px;
}

input, select {
    border-radius: 4px;
}


.form-container {
    left      : 50%;
    top       : 50%;
    position  : absolute;
    transform : translate(-50%, -50%);
    padding: 20px;
    line-height: 50px;
}

.form-container h3, .form-container h4{
    text-align: center;
    padding: 10px;
}

form {
    box-shadow: 0 0 10px #333333;
    background-color: #333333;
    width: 400px;
    color: #f5f5f5;
    border-radius: 12px;
    padding: 20px;
}

td a .material-symbols-outlined:hover {
    animation: bellRing 0.5s ease-in-out infinite;
    cursor: pointer;
}

form button {
    background-color: #437c90;
    color: #f5f5f5;
    border: #003142;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

form button:hover {
    background-color: #79b1c6;
}

thead tr {
    background-color: #383838;
    color: white;
    text-align: left;
}

th, td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
    margin: 0;
    padding: 0;
}

tbody tr:nth-of-type(even) {
    background-color: #f5f5f5;
}

tbody tr:last-of-type {
    border-bottom: 0px solid;
}

tbody tr:hover, tbody tr:hover a {
    color: #f5f5f5;
    background-color: #333333;
}

tbody tr:hover button {
    background-color: #f5f5f5;
    color: #333333;
}

thead a {
    color: white;
}

tbody a {
    color: #333333;
}

.center-cell{
    text-align: center;
}

.floating-button {
    display: inline-block;
    width: 100px;
    text-decoration: none;
    background-color: #437C90; 
    color: white;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.floating-button .material-symbols-outlined {
    vertical-align: middle;
    margin: auto;
}

.floating-button:hover {
    background-color: #79b1c6;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    transform: translateY(4px);
}

.floating-button:active {
    background-color: #004085;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    transform: translateY(6px);
}

td a:hover {
    transform: scale(1.5);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    
}

.modal-content {
    background-color: #333333;
    color: #f5f5f5;
    text-align: center;
    border-radius: 12px;
    margin: 15% auto;
    padding: 30px;
    border: 1px solid #888;
    width: 30%;
    font-family: sans-serif;
    font-weight: 500;

}

.modal-content p {
    font-size: 18px;
}

.modal-content button#confirmButton {
    background-color: #437c90;
    color: #f5f5f5;
    width: 80px;
    padding: 10px;
    cursor: pointer;
    border: #003142;
    border-radius: 4px;
    font-size: 18px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.modal-content button#cancelButton {
    margin-top: 20px;
    background-color: lightcoral;
    color: #f5f5f5;
    width: 80px;
    padding: 10px;
    cursor: pointer;
    border: #003142;
    border-radius: 4px;
    font-size: 18px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

}


.descriptions {
    box-shadow: 0 0 10px #333333;
    border-color: #333333;
    background-color: #366373;
    width: 42%;
    color: whitesmoke;
    border-radius: 12px;
    padding: 20px;
}


.material-symbols-outlined {
    /* Google Icons resized with space */
    margin-right: 10px; 
    font-size: 24px;
    vertical-align: middle;
}

li:hover .material-symbols-outlined {
    transition: all ease .5s;
    transform: rotate(360deg);
    color: #003142;
}

li:hover .nav-text{
    transition: all ease .5s;
    text-decoration: underline;
    color: #003142;
    
}

.nav-text {
    /* Hide text initially */
    display: none; 
    white-space: nowrap;
}

div.navbar:hover .nav-text {
    /* Show text on hover */
    display: inline; 
    text-align: center;
    vertical-align:middle;
    
}

.db-overview {
    width: 75%;
    max-width: 1440px;
    height: auto;
}

.db-overview img {
    height: 60%;
    width: 60%;
    object-fit: contain;
}

#logo {
    height: 46px;
    width: 46px;
    object-fit: contain;
    background-color: #366373;
}

.db-overview ul {
    list-style-type: disc; /* Or any style you prefer */
    list-style-position: outside;
    padding-left: 40px; /* Adjust as needed to accommodate bullet points */
}

.db-overview li {
    margin-bottom: 10px; /* Adds some space between list items */
}

input, textarea {
    border: #003142;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 55%;
    border-radius: 4px;
}

select {
    border: #003142;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 60%;
    border-radius: 4px;
}

textarea {
    vertical-align: bottom;
}

/* From MDN https://developer.mozilla.org/en-US/docs/Web/CSS/:valid */
input + span, select + span, textarea + span{
    position: relative;
}
  
input + span::before , select + span::before, textarea + span::before{
position: relative;
right: -20px;
top: 5px;
}

form#edit-attendee-form input[type=text]:invalid + span::before {
    content: "✖ First Last";
    color: lightcoral;
}

form#edit-competitor-form input[type=text]:invalid + span::before {
    content: "✖ First Last";
    color: lightcoral;
}

form#new-attendee-form input[type=text]:invalid + span::before {
    content: "✖ First Last";
    color: lightcoral;
}

form#new-competitor-form input[type=text]:invalid + span::before {
    content: "✖ First Last";
    color: lightcoral;
}

form#new-ticket-type-form input[type=text]:invalid + span::before {
    content: "✖ Field Empty";
    color: lightcoral;
}

form#edit-ticket-type-form input[type=text]:invalid + span::before {
    content: "✖ Field Empty";
    color: lightcoral;
}

form#new-team-form input[type=text]:invalid + span::before {
    content: "✖ Field Empty";
    color: lightcoral;
}

form#edit-team-form input[type=text]:invalid + span::before {
    content: "✖ Field Empty";
    color: lightcoral;
}

form#new-discount-form input[type=text]:invalid + span::before {
    content: "✖ Field Empty";
    color: lightcoral;
}

form#edit-discount-form input[type=text]:invalid + span::before {
    content: "✖ Field Empty";
    color: lightcoral;
}

form#new-discount-form input[type=number]:invalid + span::before {
    content: "✖ Select Percent";
    color: lightcoral;
}

form#edit-discount-form input[type=number]:invalid + span::before {
    content: "✖ Select Percent";
    color: lightcoral;
}

form#new-course-form input[type=text]:invalid + span::before {
    content: "✖ Field Empty";
    color: lightcoral;
}

form#edit-course-form input[type=text]:invalid + span::before {
    content: "✖ Field Empty";
    color: lightcoral;
}

form#new-event-year-form input[type=number]:invalid + span::before {
    content: "✖ 1900 - 2099";
    color: lightcoral;
}

form#edit-event-year-form input[type=number]:invalid + span::before {
    content: "✖ 1900 - 2099";
    color: lightcoral;
}

form#new-rating-form select#dish:invalid + span::before {
    content: "✖ Select a Dish";
    color: lightcoral;
}

form#edit-rating-form select#dish:invalid + span::before {
    content: "✖ Select a Dish";
    color: lightcoral;
}

form#new-rating-form select#attendee:invalid + span::before {
    content: "✖ Select an Attendee";
    color: lightcoral;
}

form#edit-rating-form select#attendee:invalid + span::before {
    content: "✖ Select an Attendee";
    color: lightcoral;
}

form#new-ticket-form select#ticket-type:invalid + span::before {
    content: "✖ Select a Type";
    color: lightcoral;
}

form#edit-ticket-form select#ticket-type:invalid + span::before {
    content: "✖ Select a Type";
    color: lightcoral;
}

form#new-ticket-form select#year:invalid + span::before {
    content: "✖ Select a Year";
    color: lightcoral;
}

form#edit-ticket-form select#year:invalid + span::before {
    content: "✖ Select a Year";
    color: lightcoral;
}

form#new-ticket-form input[type=number]:invalid + span::before {
    content: "✖ Choose a Price";
    color: lightcoral;
}

form#edit-ticket-form input[type=number]:invalid + span::before {
    content: "✖ Choose a Price";
    color: lightcoral;
}

form#new-ticket-sale-form select#attendee:invalid + span::before {
    content: "✖ Select an Attendee";
    color: lightcoral;
}

form#edit-ticket-sale-form select#attendee:invalid + span::before {
    content: "✖ Select an Attendee";
    color: lightcoral;
}

form#new-ticket-sale-form select#ticket:invalid + span::before {
    content: "✖ Select a Ticket";
    color: lightcoral;
}

form#edit-ticket-sale-form select#ticket:invalid + span::before {
    content: "✖ Select a Ticket";
    color: lightcoral;
}

form#new-ticket-sale-form select#discount:invalid + span::before {
    content: "✖ Select a Discount";
    color: lightcoral;
}

form#edit-ticket-sale-form select#discount:invalid + span::before {
    content: "✖ Select a Discount";
    color: lightcoral;
}

form#new-competitor-registration-form select#competitor:invalid + span::before {
    content: "✖ Select Competitor";
    color: lightcoral;
}

form#edit-competitor-registration-form select#competitor:invalid + span::before {
    content: "✖ Select Competitor";
    color: lightcoral;
}

form#new-competitor-registration-form select#team:invalid + span::before {
    content: "✖ Select Team";
    color: lightcoral;
}

form#edit-competitor-registration-form select#team:invalid + span::before {
    content: "✖ Select Team";
    color: lightcoral;
}

form#new-competitor-registration-form select#year:invalid + span::before {
    content: "✖ Select Year";
    color: lightcoral;
}

form#edit-competitor-registration-form select#year:invalid + span::before {
    content: "✖ Select Year";
    color: lightcoral;
}

form#new-dish-form input[type=text]:invalid + span::before {
    content: "✖ Field Empty";
    color: lightcoral;
}

form#edit-dish-form input[type=text]:invalid + span::before {
    content: "✖ Field Empty";
    color: lightcoral;
}

form#new-dish-form textarea:invalid + span::before {
    content: "✖ Field Empty";
    color: lightcoral;
}

form#edit-dish-form textarea:invalid + span::before {
    content: "✖ Field Empty";
    color: lightcoral;
}

form#new-dish-form select#course:invalid + span::before {
    content: "✖ Select Competitor";
    color: lightcoral;
}

form#edit-dish-form select#course:invalid + span::before {
    content: "✖ Select Competitor";
    color: lightcoral;
}

form#new-dish-form select#team:invalid + span::before {
    content: "✖ Select Team";
    color: lightcoral;
}

form#edit-dish-form select#team:invalid + span::before {
    content: "✖ Select Team";
    color: lightcoral;
}

form#new-dish-form select#year:invalid + span::before {
    content: "✖ Select Year";
    color: lightcoral;
}

form#edit-dish-form select#year:invalid + span::before {
    content: "✖ Select Year";
    color: lightcoral;
}

form#new-rating-form input[type=number]:invalid + span::before {
    content: "✖ 1 - 10";
    color: lightcoral;
}

form#edit-rating-form input[type=number]:invalid + span::before {
    content: "✖ 1 - 10";
    color: lightcoral;
}

input[type=tel]:invalid + span::before {
    content: "✖ ___-___-____";
    color: lightcoral;
}

input[type=email]:invalid + span::before {
    content: "✖ user@email.com";
    color: lightcoral;
}

input:valid + span::before {
content: "✓";
color: lightgreen;
}

select:valid + span::before {
    content: "✓";
    color: lightgreen;
}

textarea:valid + span::before {
    content: "✓";
    color: lightgreen;
}

/* Adapted from https://www.youtube.com/watch?v=AF6vGYIyV8M */
.popup {
    width: 300px;
    background-color: #333333;
    border-radius: 12px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #f5f5f5;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 15%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 20;
}

.popup h3#success-header{
    font-family: sans-serif;
    font-weight: 500;
    margin: 30px 0 10px;
    color: lightgreen;
}

.popup h3#failure-header{
    font-family: sans-serif;
    font-weight: 500;
    margin: 30px 0 10px;
    color: lightcoral;
}

.popup button{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    color: #f5f5f5;
    background-color: #437c90;
    border: #003142;
    font-size: 18px;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

/* to create dimming effect for pop ups */
.overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 10; 
}




  



